main{
    max-width: 1000px;
    margin: auto;
    padding: 50px 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 1 300px;
}
section{
    width: 30%;
    padding: 15px;
    min-height: 320px;
    margin-bottom: 20px;
}
section img{
    max-width: 100%;
    display: block;
    margin: 0 auto 30px;   
    max-height: 150px;

}
footer{
    width: 100%;
}